<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <h2 style="color: white;">Angular Unicorns</h2>
  </nz-header>
  <nz-content>
    <nz-breadcrumb style="margin-left:10px;">
      <nz-breadcrumb-item>Unicorns({{unicorns.length}})</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-table #unicornsData [nzData]="unicorns">
      <thead>
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>Last funding on</th>
          <th>Total Fundings</th>
          <th>Founded on</th>
          <th>Category</th>
          <th>GoTo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of unicornsData.data">
          <td>{{data.name}}</td>
          <td>{{data.country}}</td>
          <td>{{data.last_funding_on}}</td>
          <td>{{data.total_equity_funding}}</td>
          <td>{{data.founded_on}}</td>
          <td>{{data.category}}</td>
          <td><a href="{{data.permalink}}" target="_blank">Goto</a></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>